.copyright__link {
  font-size: 16px;
  color: $dark-grey;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.copyright__link-image {
  fill: #666666;
}

@media #{$tablet-width } {
  .copyright__link {
    padding-top: 0;
  }

  .copyright__link-text {
    margin-right: 22px;
  }
}

@media #{$desktop-width } {
  .copyright__link {
    &:hover {
      .copyright__link-image {
        fill: $basic-green;
      }
    }

    &:active {
      opacity: 30%;
    }
  }
}
